/* ------------------------------ GENERAL STYLES ------------------------------ */
* {
  margin: 0;
  padding: 0;
}

/* ------------------------------ HEADER ------------------------------ */
header {
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
  font-family: 'Podkova', sans-serif;
  padding: 0;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}


/* ------------------------------ NAVBAR ------------------------------ */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  padding-right: 5%;
}

#logo {
  font-family: 'Trirong', sans-serif;
  font-weight: 100;
}

.menu li {
  font-size: 12px;
}

/* ------------------------------ MAIN PAGE ------------------------------ */
.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 80px;
  justify-content: center;
}

.image-column img {
  max-width: 100%;
  height: auto;
}

.image-column {
  justify-content: center;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-column h2 {
  font-family: 'Podkova', sans-serif;
  font-size: 50px;
  font-weight: 200;
}

.text-column p {
  font-family: 'Domine', sans-serif;
  font-size: 12px;
}


/* ------------------------------ CAROUSELS ------------------------------ */

body {
  font-size: 14px;
}
h2 {
  margin-bottom: 20px;
}
h3 {
  margin: 0 0 8px;
  font-size: 19px;
  line-height: 24px;
}
.line-title {
  width: 250px;
}

.food-section {
  padding: 30px 15px 20px;
}
.food-section .item {
  margin: 0 10px 40px;
  width: 200px;
  height: 280px;
}
.food-section .item.active {
  width: 270px;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
}

.custom-carousel {
  display: flex;
  overflow-x: auto;
}

.item {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item.active {
  background-color: #007bff;
  color: white;
}

.food-section {
  padding: 60px 50px;
}
.food-section .custom-carousel {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.food-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.food-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.food-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}


/* ------------------------------ MENUS ------------------------------ */
select {
  width: 200px;
  border: 1px solid black;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------ MODALS ------------------------------ */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 70%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1);}
}

.close {
  position: absolute;
  /* top: 15px;
  right: 35px; */
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


#name {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

/* Style for the H2 element */
#name h2 {
  font-family: 'Trirong', sans-serif;
  font-weight: 200;
  color: #333;
  margin-bottom: 10px;
}

/* Style for the input text field */
#nameInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Style for the form */
form {
  text-align: center;
}

/* Style for the input buttons */
input[type="reset"],
input[type="button"],
input[type="submit"] {
  background-color:cadetblue;
  color: black; 
  border: none;
  padding: 10px 20px;
  margin: 5px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: grey;
}

.email-form {
  width: 100%;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.email-form h2 {
  font-family: 'Trirong', sans-serif;
  font-weight: 200;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
}

#arrayContents {
  font-family: 'Domine', sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 20px;
}


/* ------------------------------ MEDIA QUERIES ------------------------------ */
@media screen and (max-width: 425px) {
  body {
    font-size: 12px;
  }
  h2 {
    margin-bottom: 16px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 200px;
    margin-top: 10px;
  }
  
  .food-section {
    padding: 30px 15px;
  }

  .food-section .item {
    margin: 0 10px 20px;
    width: 80%;
    height: 200px;
  }

  .food-section .item.active {
    width: 80%;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  
  .custom-carousel {
    display: flex;
    overflow-x: auto;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .image-column, .text-column {
    flex: none;
    width: 100%;
    padding: 5px;
  }

  .text-column {
    margin-top: 10px;
  }

  .text-column h1 {
    font-size: 32px; /* Adjust font size for better readability */
  }

  .text-column p {
    font-size: 12px; /* Adjust font size for better readability */
  }
}

@media screen and (min-width: 768px) {
  /* Header */
  nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 1rem;
  }

  #menu {
      display: flex;
  }

  #menu > li {
      padding-left: 1rem;
  }

  .nav-toggle-label {
      display: none;
  }

  #logo {
      font-size: 280%;
      line-height: 75px;
      margin: 0 0.5rem;
  }

  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  .food-section {
    padding: 50px 30px 40px;
  }
  .food-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .food-section .item.active {
    width: 360px;
  }

  body {
    font-size: 12px;
  }
  h2 {
    margin-bottom: 16px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 200px;
  }
  
  .food-section {
    padding: 30px 15px;
  }

  .food-section .item {
    margin: 0 10px 20px;
    width: 200px;
    height: 200px;
  }
  .food-section .item.active {
    width: 200px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  
  .custom-carousel {
    display: flex;
    overflow-x: auto;
  }
}

@media screen and (min-width: 992px) {
  #menu a:hover{
      border-bottom: 1px solid #3a3a3a;
  }

  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .food-section {
    padding: 50px 30px;
  }
  .food-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .food-section .item.active {
    width: 400px;
  }

}


@media screen and (min-width: 1024px) {
  .food-section {
    padding: 60px 50px;
  }
  .food-section .custom-carousel {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
  }
  .food-section .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  .food-section .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  }
  .food-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  body {
    font-size: 12px;
  }
  h2 {
    margin-bottom: 16px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 200px;
  }
  
  .food-section {
    padding: 30px 15px;
  }

  .food-section .item {
    margin: 0 10px 20px;
    width: 80%;
    height: 280px;
  }
  .food-section .item.active {
    width: 80%;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  
  .custom-carousel {
    display: flex;
    overflow-x: auto;
  }

  .text-column h1 {
    font-family: 'Podkova', sans-serif;
    font-size: 60px;
    font-weight: 200;
  }
  
  .text-column p {
    font-family: 'Domine', sans-serif;
    font-size: 18px;
  }

}