header {
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
  font-family: 'Podkova', sans-serif;
  padding: 0;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  padding-right: 5%;
}

#logo {
  font-family: 'Trirong', sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.hero-image {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.jpg") no-repeat center center/cover;
  position: relative;
  color: #fff8f0;
  padding-top: 20%;
}

.hero-image h1 {
  font-family: 'Trirong', sans-serif;
  font-size: 400%;
  font-weight: 200;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
}



@media screen and (min-width: 768px) {
  /* Header */
  nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 1rem;
  }

  #menu {
      display: flex;
  }

  #menu > li {
      padding-left: 1rem;
  }

  .nav-toggle-label {
      display: none;
  }

  #logo {
      font-size: 280%;
      line-height: 75px;
      margin: 0 0.5rem;
  }
}

@media screen and (min-width: 992px) {
  #menu a:hover{
      border-bottom: 1px solid #3a3a3a;
  }
}

